# Configuración JZ Travel
PROJECT_NAME=JZ_Travel
PORT=8000

# Base de Datos
POSTGRES_USER=jzadmin
POSTGRES_PASSWORD=jzsecret_secure_password
POSTGRES_DB=jzflete_db

# OSRM (Mapas Offline) - URL de Geofabrik. Por defecto: Argentina
OSRM_REGION_URL=http://download.geofabrik.de/south-america/argentina-latest.osm.pbf
