fastapi==0.104.1
uvicorn[standard]==0.24.0.post1
asyncpg==0.28.0
bcrypt==4.0.1
pydantic==2.5.2
python-multipart==0.0.6
httpx==0.25.2
jztech-core @ https://github.com/Jonnyonz/jztech-core/releases/download/v0.1.5/jztech_core-0.1.5-py3-none-any.whl
